fastapi==0.135.2
uvicorn==0.42.0
motor==3.7.1
pymongo==4.16.0
bcrypt==5.0.0
python-jose==3.5.0
python-dotenv==1.2.2
cryptography==46.0.6
pydantic==2.12.5
email-validator==2.3.0
python-multipart==0.0.20
dnspython==2.8.0
starlette==1.0.0
anyio==4.13.0
click==8.3.1
h11==0.16.0
httptools==0.7.1
idna==3.11
pydantic-core==2.41.5
annotated-types==0.7.0
typing-extensions==4.15.0
typing-inspection==0.4.2
six==1.17.0
rsa==4.9.1
pyasn1==0.6.3
ecdsa==0.19.2
pyyaml==6.0.3
